<div class="">

<%= form_with url: project_feature_flag_path(@parent.uuid, @feature_flag), model: @feature_flag, class: "feature-flag-form" do |f| %>
  <div class="form-group">
    <label for="name">Name</label>
    <%= f.text_field :name, class: 'form-control' %>
    <small class="form-text text-muted">A human-friendly name for your feature.</small>
  </div>
  <div class="form-group">
    <label for="key">Key</label>
    <%= f.text_field :key, class: 'form-control' %>
    <small class="form-text text-muted">Use this key in your code. Keys must only contain letters, numbers, _ or -.
You cannot use new as a key.</small>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <%= f.text_field :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label for="type">Variation Type</label>
    <%= select_tag :type, flag_variation_types(@feature_flag.type), class: 'form-control' %>
  </div>

  <div class="form-group variation-form">
    <label for="variation1">Variation 1</label>
    <%= f.text_field :choices, class: 'form-control', value: 'True', multiple: true, value: @feature_flag.choices[0] %>
  </div>

  <div class="form-group">
    <label for="variation1">Variation 2</label>
    <%= f.text_field :choices, class: 'form-control', value: 'False', multiple: true, value: @feature_flag.choices[1] %>
  </div>

  <span id="add_variation" class="btn btn-outline-primary btn-sm float-right" data-toggle="tooltip" title="Add Variation">Add Variation</span>

  <div class="container row">
    <div class="col-12">Default Variations</div>
    <div class="input-group col-6">
      <div class="input-group-prepend">
        <label class="input-group-text" for="on-select">On</label>
      </div>
      <select class="custom-select on-select" name="on-select">
        <option value="0">Variation 1</option>
        <option value="1">Variation 2</option>
      </select>
    </div>

    <div class="input-group col-6">
      <div class="input-group-prepend">
        <label class="input-group-text" for="off-select">Off</label>
      </div>
      <select class="custom-select off-select" name="off-select">
        <option value="0">Variation 1</option>
        <option value="1">Variation 2</option>
      </select>
    </div>
  </div>

  <%= f.submit "Update", class: 'btn btn-primary mt-4' %>
<% end %>
<script>
// Copy name value to key fields
jQuery(function () {
  feature_key = jQuery('.feature-flag-form #feature_flag_key')
  jQuery('.feature-flag-form #feature_flag_name').keyup(function(e) {
    key = this.value.replace(/[^a-z0-9\-_]/gi, '_').replace(/[_]+/g, '_')
    feature_key.val(key);
  });

  $(".on-select").val("<%= @feature_flag.default_choices['on'] %>");
  $(".off-select").val("<%= @feature_flag.default_choices['off'] %>");

  jQuery('#add_variation').click(function () {
    // jQuery('.variation-form')
  });
});
</script>
</div>
