<nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-turbolinks-permanent>
      <div class="container">
        <a class="navbar-brand" href="#">My App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to("Home", root_path, class: 'nav-link') %>
            </li>
            <li class="nav-item">
              <%= link_to("Projects", projects_path, class: 'nav-link') %>
            </li>
            <li class="nav-item">
              <%= link_to("Users", users_path, class: 'nav-link') %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome, <%= current_user.name %></a>
              <div class="dropdown-menu" aria-labelledby="dropdown">
                <%= link_to("Logout", destroy_user_session_path, action: :post,  method: :delete, id: "logout", class: 'dropdown-item') %>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div id="top_nav_bg" class="top_nav_bg hide">
      <div class="side-nav">

      </div>
      </div>
<script>
    // jQuery(window).on('resize', function(){
    //     var win = $(this); //this = window
    //     if (win.height() >= 820) { /* ... */ }
    //     if (win.width() >= 1280) { /* ... */ }
    //     jQuery("#top_nav_bg").height(win.height());
    // });
</script>
</nav>
