<div class="col">
<h1 class="display-4"><%= @project.name %></h1>
<div class="row">
  <div class='col-6'>
    <div class='row'>
      <div class="mb-3 col-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="environment-select">Environment</label>
          </div>
          <select class="custom-select" id="environment-select">
            <% @environments.each do |env| %>
              <option value="<%= env.id %>" <%= env.id == @environment.id ? 'selected' : '' %>> <%= "#{env.name}" %></option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-outline-primary" data-modal data-url="<%= new_project_environment_path(@project.uuid) %>" title="Create environment" data-toggle="tooltip">Create</button>
        <%= link_to('Destroy', project_environment_path(@project.uuid, @environment, env: params[:env] ), method: :delete, class: 'btn btn-outline-danger', title: "Destroy environment", data: { confirm: "Are you sure want to delete?", 'toggle': "tooltip" } ) %>
      </div>
    </div>
  </div>
  <div class="col-6 card">
    
      <div class="card-body">
        <span>API Key: <%= @environment.api_key %></span> <span class="btn btn-outline-primary btn-sm float-right" data-toggle="tooltip" title="Copy to clipboard">Copy</span>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <span class="h2">Feature Flags</span>
    <form  class="form-inline mt-3 float-right">
      <div class="form-group mx-4">
        <input type="text" class="form-control" id="search_flags" placeholder="Search flags.. TODO">
      </div>
      <span class="btn btn-outline-primary" title="Create Feature flag" data-toggle="tooltip" data-url="<%= new_project_feature_flag_path(@project.uuid) %>" data-modal data-title="Create Flag">Create Flag</span>
    </form>
    <div class="list-group mt-4">
    <% @feature_flags.each do |feature_flag| %>
      <% flag_conf = @configs[feature_flag.id] ? @configs[feature_flag.id].configs : { state: :off } %>
      <div class="list-group-item" data-target="#flag-configs" data-tab data-url="<%= edit_properties_project_feature_flag_path(@project.uuid, @environment) %>">
        <span data-modal data-title="Flag" data-url="<%= project_feature_flag_path(@project.uuid, feature_flag) %>"> <%= feature_flag.name %></span>
        <span class="badge badge-secondary" data-modal data-title="Edit Flag" data-url="<%= edit_project_feature_flag_path(@project.uuid, feature_flag) %>">Edit</span>
        <%= link_to('Destroy', project_feature_flag_path(@project.uuid, feature_flag), method: :delete, class: 'badge badge-danger', title: "Destroy Feature flag", data: { confirm: "Are you sure want to delete?", toggle: "tooltip" } ) %>
        <div class="custom-control custom-checkbox float-right">
          <input type="checkbox" class="custom-control-input on-off" id="on-off-<%= feature_flag.name %>" data-flag-id=<%= feature_flag.id %> <%= flag_conf[:state].eql?(:on) ? 'checked' : '' %>>
          <label class="custom-control-label" for="on-off-<%= feature_flag.name %>"><%= flag_conf[:state] %></label>
        </div>
        <div class="card bg-light mt-2">
          <div class="card-body">
          Serving: <%= feature_flag.variation(flag_conf[:state]) %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
      <%= paginate @feature_flags %>
  </div>

  <div class="col-6 card mt-3">
    <div class="card-body">
      <div class="tab-content" id="flag-configs">
      </div>
    </div>
  </div>
</div>

<script>
  jQuery('#environment-select').on('change', function() {
    var url = '<%= project_change_environment_path(@project.uuid) %>?env=' + this.selectedOptions[0].text;
    jQuery.ajax({
      url: url,
      type: 'POST',
      success: function(result) {
        console.log('Changing environment');
      }
    });
  });

  jQuery(function () {
    jQuery('.on-off').change(function () {
      var ele = jQuery(this);
      jQuery('label', ele.parent()).text(this.checked ? 'on' : 'off');

      if (this.checked) {
        var url = '<%= project_environment_enable_flag_path(@project.uuid, @environment) %>?flag_id=' + ele.data('flag-id');
      } else {
        var url = '<%= project_environment_disable_flag_path(@project.uuid, @environment) %>?flag_id=' + ele.data('flag-id');
      }

      jQuery.ajax({
        url: url,
        type: 'POST',
        success: function(result) {
          console.log('Enabling flag');
        }
      });
    })
  });
</script>
</div>
