<div class="col">
<h1 class="display-4"><%= @project.name %></h1>
<div class="row">
  <div class="input-group mb-3 col-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="environment-select">Environment</label>
    </div>
    <select class="custom-select" id="environment-select">
      <% @environments.each do |env| %>
        <option value="<%= env.id %>" <%= env.id == @environment.id ? 'selected' : '' %>> <%= "#{env.name}" %></option>
      <% end %>
    </select>
  </div>
  <div class="col-3">
    <button type="button" class="btn btn-primary" data-modal data-url="<%= new_environment_project_path(@project.uuid) %>" data-title="Create environment">Create environment</button>
  </div>
</div>
<div>
  <span class="h2">Feature Flags</span>
  <span class="h5">
    <button class="btn btn-primary" data-url="<%= new_project_feature_flag_path(@project.uuid) %>" data-modal data-title="Create Flag">Create Flag</button>
  </span>
  <div class="list-group">
  <% @feature_flags.each do |feature_flag| %>
    <div class="list-group-item">
      <span data-modal data-title="Flag" data-url="<%= project_feature_flag_path(@project.uuid, feature_flag) %>"> <%= feature_flag.name %></span>
      <%= link_to('Edit', project_feature_flag_path(@project.uuid, feature_flag), class: 'badge badge-light') %>
    </div>
  <% end %>
  </div>
  <%= paginate @feature_flags %>
  </div>

<script>
  jQuery('#environment-select').on('change', function() {
    var url = '<%= change_environment_project_path(@project.uuid) %>?env=' + this.selectedOptions[0].text;
    jQuery.ajax({
    url: url,
    type: 'POST',
    success: function(result) {
      console.log(result)
    }});
  });
</script>

</div>
