<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="turbolinks-root" content="/">
    <title><%= h(page_title) %></title>
    <meta name="description" content="<%= page_description %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid page">
      <%= render partial: '/shared/header' %>
      <div id="body-container"  class="content">
      <% if notice.present? %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert"><%= alert %></p>
      <% end %>
        <div id="body-container">
          <%= yield %>
        </div>
      </div>
      <%= render partial: '/shared/footer' %>
    </div>
  </body>
</html>
